body {
  background-color: rgb(248, 251, 248);
  margin: 0;
}

.dashboard-container {
  display: flex;
  height: calc(100vh - 3.7rem);
}

.split-1 {
  /* flex: 15%;
  height: 100vh; */
}

.split-2 {
  flex: 85%;
}
