.link-container{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    background-color: rgba(238, 236, 236, 0.791);
    margin-top: 2rem;
    gap: 1rem;
    /* border: 1px solid #27ae60; */
    width: 75%;
    border-radius: 5px;
    /* box-sizing: border-box; Include border in the total width calculation */
    margin-left: auto; /* Auto margin for centering */
    margin-right: auto; /* Auto margin for centering */
}

