.navbar{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.4rem;
    /* border: 1px solid grey; */
    /* background-color: white; */
}

.logo{

    color: rgb(108, 116, 106);
    font-size: larger;
    font-weight: bold;
    padding: 0.5rem;
}

.username {
    text-decoration: none;
    font-size: large;
    padding: 0.5rem;
    color: #ffff;
    background-color: #686b67;
    margin-left: auto;
    margin-right: 2rem;
}

.credits{
    text-decoration: none;
    font-size: large;
    padding: 0.5rem;
    color: #ffff;
    background-color: #7799e3;
    margin-left:55%;
}

.get-started{
    text-decoration: none;
    font-size: large;
    padding: 0.5rem;
    border-radius: 2.5rem;
    color: #ffff;
    background-color: #27ae60;
    
    
}

.get-started:hover{
    cursor: pointer;
}

.get-started-link {
    text-decoration: none;
    color: white;
  } 

  /* Responsive styles using media queries */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .username, .credits, .get-started {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
}