.linkpool-btn{

    border-radius: 5px;
    padding: 0.7rem;
    color: #27ae60;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #e6f6ed;
}

.linkpool-btn:hover{

    transform: scale(1.0);
}


.data-para-keywords{
   
    color: rgb(47, 100, 169);
    font-weight:500;
}

.result-and-btn{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


@media screen and (max-width: 818px) {

    
.result-and-btn{

    flex-direction: column;
}

    
  }
  